@import "tailwindcss";

/* styles/globals.css */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  background-color: #86efac !important;
  color: black !important;
  -webkit-box-shadow: 0 0 0px 1000px #86efac inset !important;
}

/* globals.css */
.custom-scrollbar::-webkit-scrollbar {
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #d1fae5; /* Tailwind green-100 */
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #34d399; /* Tailwind green-400 */
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #10b981; /* Tailwind green-500 */
}

